/* General styling */

:root {
  --standard-font: "VT323", monospace;
  --normal: 400;
  --overlay-white: rgba(255, 255, 255, 0.6);
  --overlay-red: rgba(255, 0, 0, 0.6);
  --header-height-small: 50px;
  --header-height-med: 70px;
  --header-height-big: 100px;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/vt323/v12/pxiKyp0ihIEF2isfFJXUdVNF.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

code {
  font-family: "VT323", system-ui-monospace;
}

body {
  background-image: url(../img/background_big.png);
  background-size: cover;
  background-position-x: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: calc(100vh - var(--header-height-med));
  font-family: var(--standard-font);
  font-weight: var(--normal);
  font-size: 18px;
}

/* Responsive Background Image */

@media all and (max-height: 840px) {
  body {
    background-image: url(../img/background_small.png);
  }
}

@media all and (min-height: 840px) and (max-height: 1079px) {
  body {
    background-image: url(../img/background_med.png);
  }
}

@media all and (min-resolution: 192dpi) and (max-height: 840px) {
  body {
    background-image: url(../img/background_big.png);
  }
}

@media all and (min-resolution: 192dpi) and (max-height: 1080px) {
  body {
    background-image: url(../img/background_big.png);
  }
}

/* Header */
header {
  position: fixed;
  top: 0;
  height: var(--header-height-med);
  width: 100%;
  background-color: var(--overlay-red);
  padding: 10px;
  text-align: center;
}

.logo {
  height: 100%;
  width: auto;
}

/* Main */

main {
  margin: var(--header-height-med) 0 0 0;
  padding: 25px 10px;
  background-color: var(--overlay-white);
  width: 100%;
  height: 100%;
}

/* Responisve Design whole Site */

@media all and (max-height: 500px), (max-width: 530px) {
  header {
    padding: 5px;
    height: var(--header-height-small);
  }

  main {
    margin: var(--header-height-small) 0 0 0;
  }

  body {
    height: calc(100vh - var(--header-height-small));
  }
}

@media all and (min-width: 1800px) {
  header {
    padding: 5px;
    height: var(--header-height-big);
  }

  main {
    margin: var(--header-height-big) 0 0 0;
  }

  body {
    height: calc(100vh - var(--header-height-big));
  }
}
